@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.displayflex {
    display: flex;
}
.color1 {
    color: #E95A08;
}

/* nav related style */
.nav {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 120px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
.navlinks {
    gap: 48px;
}
.navlinks li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.home {
    position: relative;
    font-weight: 700;
    color: #252432;
}
.shop, .about {
    position: relative;
    color: #8987A1;
}
.cart {
    padding-right: 10px;
}

/* banner related styles */
.banner_container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 120px;
}
.banner {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;  
}
.banner_title {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
.banner_description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.192rem;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}
.banner_content {
    width: 50%;
}
.banner_image img {
    width: 100%;
}

/* card related style */
.card_section {
    max-width: 1140px;
    margin: 0 auto;
}
.card_section_title {
    font-size: 4.25rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    text-align: center;
    margin: 0px;
}
.card_section_description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.192rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 16px 0 20px 0;
    padding: 0 126px;
}
.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.card img {
    width: 100%;
}
.card_title, .price {
    font-size: 1.192rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #111111;
    margin: 0;
}
.card_title {
    margin-top: 30px;
}
.price {
    font-weight: 700;
    margin: 10px 0 30px 0;
}
.card button {
    font-size: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 50px;
    background-color: #E95A08;
    border: none;
}

/* flower_and_plant_lover section */
.flower_and_plant_lover_section {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flower_and_plant_lover {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;    
}
.lover_image {
    width: 50%;
}
.lover_image img {
    width: 100%;
    max-height: 597px;
}
.lover_content {
    margin: 38px 0 38px 60px;
    width: 50%;
}
.lover_title {
    font-size: 3.067rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin: 0;
}
.lover_description {
    font-size: 1.192rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-top: 20px;
}
.lover_description li {
    margin-bottom: 30px;
}
.badge {
    width: 286px;
    height: 286px;
    margin-left: -120px;
    margin-top: 83px;
    margin-bottom: -160px;
    z-index: 1;
}
.badge img {
    width: 100%;
}

/* Latest Deal Section */
.latest_deal_section {
    max-width: 1140px;
    margin: 0 auto;
    background-color: aqua;
}
.deal_content{
    margin-top: 133px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deal_title {
    margin: 0;
    font-size: 3.067rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
.deal_description {
    max-width: 888px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.192rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 16px 0 0 0;
}
.image {
    margin: 120px 0 0 0;
    padding: 0 20px;
    display: flex;    
    align-items: flex-end;
    gap: 28px;
}
.image img {
    width: 100%;
    border-radius: 22px;
}
.left_image {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.right_image {
    margin: 0;
}



/* smaller devise responsive design */
@media screen and (max-width: 576px) {
    /* nav related style */
    .nav {
        margin: 15px 15px 30px 15px;
    }
    .navlinks {
        padding-left: 0px;
        gap: 0px;
    }
   .home, .shop, .about {
        display: none;
   }

   /* banner related style */
   .banner {
        flex-direction: column-reverse;
   }
   .banner_content {
    width: 100%;
}
   .banner_image img {
        width: 100%;
   }

   /* card related style */
   .card_section_description {
        padding: 0 20px;
   }
   .card_container {
        grid-template-columns: repeat(2, 1fr);
   }

   /* flower_and_plant_lover section related style */
   .flower_and_plant_lover_section {
        margin-top: 40px;
   }
   .flower_and_plant_lover {
        flex-direction: column;
        justify-content: flex-start;
   }
   .lover_image, .lover_content {
        margin: 0;
        width: 100%;
   }
   .lover_title {
        font-size: 1.5rem;
        margin: 17px 0;
   }
   .lover_description {
        font-size: 0.933rem;
        padding: 0;
        text-align: justify;
   }
   .badge {
        display: none;
   }

   /* deal related style */
   .image img {
        border-radius: 14px;
   }
   .image {
        margin-top: 50px;
        flex-direction: column;
        gap: 20px;
   }
   .left_image {
        flex-direction: column;
        gap: 20px;
   }
}